.container {
    width: min(100% - 48px, var(--container-max));
    margin-inline: auto;
}

@media (max-width: 1439px) {
    .container {
        width: min(100% - 80px, var(--container-max));
    }
}

@media (max-width: 1199px) {
    .container {
        width: min(100% - 64px, var(--container-max));
    }
}

@media (max-width: 767px) {
    .container {
        width: min(100% - 40px, var(--container-max));
    }
}

@media (max-width: 479px) {
    .container {
        width: min(100% - 32px, var(--container-max));
    }
}

@media (max-width: 370px) {
    .container {
        width: min(100% - 24px, var(--container-max));
    }
}
