.hero-swiper__pagination.swiper-pagination {
    bottom: 60px;
    z-index: 5;
}

.hero-swiper__pagination .swiper-pagination-bullet,
.offers-swiper__pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
}

.hero-swiper__pagination .swiper-pagination-bullet-active,
.offers-swiper__pagination .swiper-pagination-bullet-active {
    background: var(--color-accent);
}

@media (max-width: 479px) {
    .hero-swiper__pagination .swiper-pagination-bullet,
    .offers-swiper__pagination .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }
}
